@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Palet Warna Kimmy Kost 2026 */
  --color-peach-50: #fff6f1;
  --color-peach-100: #ffeadf;
  --color-peach-200: #ffd0bf;
  --color-peach-300: #ffa990;
  --color-peach-400: #ff7c60;
  --color-peach-500: #ff5030; 
  --color-peach-600: #f13c20;
  --color-peach-700: #d92d11; /* Tambahan */
  --color-peach-800: #b32611; /* Tambahan */
  --color-peach-900: #902413; /* Tambahan */
  --color-peach-950: #4f1006; /* Tambahan */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    /* Menerapkan warna latar dan teks standar untuk light/dark mode */
    @apply antialiased bg-peach-50 text-slate-950 dark:bg-slate-950 dark:text-slate-50;
  }

  /* Efek blok teks saat di-highlight/blok oleh user */
  ::selection {
    @apply bg-peach-200 text-peach-900 dark:bg-peach-500/30 dark:text-peach-100;
  }
}